.App {
  text-align: center;
  background: white;

  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  
}

.header {
  height: 12%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Feed {
  flex: 2;
  align-items: center;
  order: 2;
  border-left: 1px solid lightslategray;
  height: 100vh;
}

.CommandCenter {
  flex: 1;
  order: 1;
  height: 100%;
  flex-direction: row;
}

.check-in-container {
  border-bottom: grey 1px solid;
  flex-direction: row;
  height: 30vh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.post-modal-header {
  background: black;
  height: 20%;
  text-align: center;
  color: white;
  font-size: 30px;
  position: relative;
}

input[type=text]:focus {
  background-color: rgb(142, 204, 225);
}


.post-form > div > input {
  border-radius: 4px;
  border: lightgray 2px solid;
  background-color: rgb(51, 81, 91)k;
  padding: 5px;
  width: 75%;
  height: 50%;
  
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background:none;
  border: none;
  font-size: 30px;
}   

.announcement {
  background: purple;
}

.new_feature {
  background: yellow;
}

.shout_out {
  background: blue;
}

.urgent_alert {
  background: red;
}