.App {
  text-align: center;
  background: white;

  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
}

.header {
  height: 75px;
  width: 100%;
  background-color: white;
  color: black;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: fixed;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 75px;
}

.Feed {
  flex: 2;
  order: 2;
  border: 1px solid black;
}

.CommandCenter {
  flex: 1;
  order: 1;
  height: 100%;
  flex-direction: row;
  border: 1px solid black;
}

.check-in-container {
  flex-direction: row;
  /* height: 30vh; */
  border: 1px solid black;
}

.check-in-container > h1 {
  border: 1px solid black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* display: flex; */
  /* flex-direction: column; */
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.post-modal-header {
  background: black;
  height: 20%;
  text-align: center;
  color: white;
  font-size: 30px;
  position: relative;
}

input[type=text]:focus {
  background-color: rgb(142, 204, 225);
  border: none;
}

label {
  font-size: 20px;
  padding: 10px;
}


.post-form > div > input {
  border-radius: 4px;
  border: lightgray 2px solid;
  /* background-color: rgb(51, 81, 91)k; */
  padding: 5px;
  width: 75%;
  height: 50%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background:none;
  border: none;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}   

button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background-color: black;
  color: white;
  border: white solid 1px;
  margin: 5px;
  border-radius: 10px;
  z-index: 3
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-card {
  width: 90%;
  border: 2px grey solid;
  margin: 20px;
}

.post-card > h1 {
  background-color: white;
  color: black;
  border: solid black 1px;
  top: 0px;
}

#new-post {
  position: fixed;
  top: 1%;
  right: 1%;
}

button:hover {
  background: white;
  border: solid black 1px;
  color: black;
  font-style: bold;
}
/* .announcement {
  width: 80%;
  border: 1px grey, solid;
  
}

.new_feature {
  width: 80%;
  border: 1px grey, solid;
}

.shout_out {
  width: 80%;
  border: 1px grey, solid;
}

.urgent_alert {
  background: red;
} */

.location-feed {
  border: black solid 1px;
}

.location-feed > h1{
  background: white;
  color: black;
  border: black solid 1px;
  height: 8%;
  width: 100%;
  /* position: relative; */

}

.location-card {
  width: 90%;
  border: 2px grey solid;
  margin: 20px;
}

:disabled {
  background-color: lightgrey;
  color: grey;
}
:disabled:hover {
  background-color: lightgrey;
  color: grey;
  border: solid 1px lightgrey;
}

.user-auth {
  margin-top: 75px; 
}

.logout {
  top: 0px;
  right: 0px;
  background: white;
  color: black;
  border: 1px black solid;
}

a {
  color: blue;
  text-decoration: none;
}

.safety-concern-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: red;
}

.marker {
  border-radius: 50%;
  background-color: red;
  height: 20px;
  width: 20px;
}