@font-face {
  font-family: 'Blacker-Text-Heavy-trial';
  src: url('./fonts/Blacker-Text-Heavy-trial.ttf');
}


.App {
  text-align: center;
  font-family: Verdana;
  color: rgb(25, 26, 52);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #EEEEDD;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  height: 15px;
  width: 100%;
  background-color: rgb(25, 26, 52);
  color: #EEEEDD;
  position: fixed;
  font-family: 'Blacker-Text-Heavy-trial';
  list-style: none;
  z-index: 1;
}

.header > h1 {
  flex-grow: 14;
  text-align: left;
  letter-spacing: .09em;
}

.manager-buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: right;
  padding: 0px 20px;
  list-style: none;
  font-family: Verdana;
  font-size: 20px;
}

.manager-buttons a {
  margin: 20px;
  transition: all 0.3 ease 0s;
  color: #EEEEDD;
  text-decoration: none;
}

.manager-buttons a:hover {
  transition: all 0.3 ease 0s;
  color: rgb(218, 156, 120);
}

.user-div {
  width: 35%;
  max-width: 1200px;
  margin: 125px auto;
}

.user-outer {
  list-style-type: none;
  padding: 0;
}

.user-outer {
  max-width: 800px;
  margin: 0 auto;
}

.user-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.user-outer li label,
.user-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.user-outer > li > label
{ 
  flex: 1 0 120px;
  max-width: 220px;
}

.user-outer > li > label + *,
.user-inner {
  flex: 1 0 220px;
}

.user-outer li input,textarea,select {
  padding: 15px;
  border: none;
  margin: 2px;
}

/* .user-outer li  */
button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #DB8656;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  font-size: 18px;
}

/* .user-outer li  */
button:hover {
  background: rgb(218, 156, 120); 
}

.user-auth > p > a {
  color: #DB8656;
}

.user-auth {
  background: #C2BEC2;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 75px;
  background: #EEEEDD;
}

.CommandCenter {
  flex: 1;
  order: 1;
  height: 100%;
  flex-direction: row;
}

.check-in-container {
  margin: 20px;
  flex-direction: row;
  background: rgb(156, 159, 171);
  align-items: flex-start;
}

/* .command-buttons {
  display: flex;
  align-items: 
} */

.check-in-container > p {
  background: rgb(25, 26, 52);
  color: #EEEEDD;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  padding: 10px;
}

.check-out  > button {
  /* height: 100px;
  width: 100px; */
  font-size: 20px;
  margin: 7px;
  background: rgb(74, 74, 103);
  color: #EEEEDD;
  border: none;
  border-radius: 4px;
  flex: 1;
}

.check-out  > button:hover {
  background: #DB8656; 
}

.check-safety > button {
  /* height: 100px;
  width: 100px; */
  font-size: 20px;
  margin: 7px;
  background: rgb(74, 74, 103);
  color: #EEEEDD;
  border: none;
  border-radius: 4px;
  flex: 1;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.check-safety  > button:hover {
  background: #DB8656; 
}

.feed {
  display: flex;
  flex-direction: column;
  flex: 2;
  order: 2;
  margin: 20px;
  background: #C2BEC2;
}

.feed-header {
  display: flex;
  flex-direction: column;
}

.feed-header > p {
  margin: 0;
  background: rgb(25, 26, 52);
  color: #EEEEDD;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  padding: 10px;
}

.feed-header > button {
  margin: 20px 52px 0 auto;
} 

.feed-header > button:hover {
  background: rgb(218, 156, 120);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: #C2BEC2;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.post-modal-header {
  background:rgb(25, 26, 52);
  /* height: 20%; */
  text-align: center;
  color: #EEEEDD;
  font-size: 30px;
  position: relative;
  font-size: 24px;
  letter-spacing: .09em;
  font-family: Verdana;
}

label {
  font-size: 20px;
  padding: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background:none;
  border: none;
  font-size: 20px;
  padding: 0 4px 0 4px;
}   

.post-card {
  width: 90%;
  margin: 0 40px 20px 40px;
  background: #EEEEDD;
  padding-bottom: 20px;
  /* border: 1px solid #70737C; */

}

.post-card > h4 {
  background-color: rgb(74, 74, 103);
  color: #EEEEDD;
  top: 0px;
  padding: 10px;
  font-size: 24px;
  letter-spacing: .09em;
}

.post-card > p {
  text-align: left;
  margin: 5px 20px 5px 20px;
}

/* .announcement {
  width: 80%;
  border: 1px grey, solid;
  
}
.new_feature {
  width: 80%;
  border: 1px grey, solid;
}
.shout_out {
  width: 80%;
  border: 1px grey, solid;
} */

.urgent_alert {
  background: red;
}

.location-feed {
  background: #C2BEC2;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.location-feed > p {
  margin: 0;
  background: rgb(25, 26, 52);
  color: #EEEEDD;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  padding: 10px;
}

.location-feed > ul {
  margin: 0;
  padding: 0;
}

.location-card {
  width: 90%;
  background: #EEEEDD;
  margin: 20px;
  display: flex;
}

.location-icon {
  flex: 1;
  padding-top: 3px;
  margin: 0;
}

.location-text {
  flex: 12;
}

.time {
  color: slategray;
  font-size: 12px;
  margin-left: 20px;
}

:disabled {
  background-color: lightgrey;
  color: grey;
}

.safety-concern-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: red;
  z-index: 2;
  margin-top: 60px;
}

.marker {
  border-radius: 50%;
  background-color: red;
  height: 20px;
  width: 20px;
}

.map {
  height: '40vh';
  width: '40vh';
  flex: 1;
  border: red 5px solid;
  margin: 20px auto 20px auto;
}

.resolution {
  border: solid 1px #94A1A9;
  border-radius: 4px;
  text-align: left;
  padding: 4px 30px 10px 30px; 
  margin: 0 10px;
}

input type:text-area {
  height: 1000px;
  width: 100ps
}

#user-initial {
  background: #70737C;
  border-radius: 50%;
  color: #EEEEDD;
  width: 24px;
  height: 24px;
  padding: 5px;
  text-align: center;
}

.post-manager {
  background: #70737C;;
  font-size: 10px;
  margin: 5px;
}

.post-manager:hover {
  background: #94A1A9; 
}

.delete {
  background: #DB8656;
  font-size: 10px;
  margin: 5px;
}

.delete:hover {
  background: rgb(218, 156, 120); 
}

.post-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.likes-info {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.post-data {
  flex: 1;
  margin-top: 12px;
  align-content: right;
}

.post-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  border: 1px #C2BEC2 solid;
  margin: 12px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  font-size: 12px;
}

.post-mgmt-buttons {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.post-info > p {
  margin-bottom: 0;
  margin-left: 20px;
  text-align: left;
}

.admin {
  display: flex;
  direction: column;
}

.comment-card {
  border: 1px #C2BEC2 solid;
  margin: 5px 12px 0 12px;
  padding: 5px;
  text-align: left;
  font-size: 12px;
  border-radius: 7px;
}